<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body class="">
    <div class="container-fluid context">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
          <h1 class="my-5 py-3 text-light text-center" id="homeheader">
            Welcome to Your Venture Management
          </h1>
          <div class="row d-flex justify-content-center align-items-center">
            <h3 class="my-3 text-light text-center">Team Management 👑</h3>
            <div class="text-center col-2">
              <a href="/create" class="btn btn-outline-light" role="button" style="width: 6rem"
                >Create</a
              >
            </div>
            <div class="text-center col-2">
              <a
                href="/create/teams"
                class="btn btn-outline-light"
                role="button"
                style="width: 6rem"
                >Teams</a
              >
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center">
            <h3 class="my-3 text-light text-center">Workdone Management ⚒️</h3>
            <div class="text-center col-2">
              <a href="/workdone" class="btn btn-outline-light" role="button" style="width: 6rem"
                >Input</a
              >
            </div>
            <div class="text-center col-2">
              <a
                href="/workdone/all"
                class="btn btn-outline-light"
                role="button"
                style="width: 6rem"
                >Works</a
              >
            </div>
          </div>

          <div class="row d-flex justify-content-center align-items-center">
            <h3 class="my-3 text-light text-center">Cost & Revenue💰</h3>
            <div class="text-center col-2">
              <a href="/workdone" class="btn btn-outline-light" role="button" style="width: 6rem"
                >Manage</a
              >
            </div>
            <div class="text-center col-2">
              <a
                href="/workdone/all"
                class="btn btn-outline-light"
                role="button"
                style="width: 6rem"
                >View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
