<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body class="">
    <div class="container-fluid context">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
          <h1 class="my-5 py-3 text-light text-center" id="homeheader">
            Welcome to Your Venture Management
          </h1>
          <h3 class="my-3 text-light text-center">Create teams🫂</h3>
          <div class="text-center">
            <a href="/create" class="btn btn-outline-light" role="button">Create</a>
          </div>
          <h3 class="my-3 text-light text-center">View all teams📑</h3>
          <div class="text-center">
            <a href="/create/teams" class="btn btn-outline-light" role="button">Teams</a>
          </div>
          <h3 class="my-3 text-light text-center">Input Workdone⚒️</h3>
          <div class="text-center">
            <a href="/workdone" class="btn btn-outline-light" role="button">Input</a>
          </div>
          <h3 class="my-3 text-light text-center">View all Workdone👑</h3>
          <div class="text-center">
            <a href="/workdone/all" class="btn btn-outline-light" role="button">Workdones</a>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
