<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Info</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
  </head>
  <body class="">
    <div class="container-fluid context">
      <div class="row mx-5 mt-5 d-flex justify-content-around">
        <span class="col-2 text-center">
          <a href="/" class="btn btn-outline-light">Home</a>
        </span>
        <span class="col-2 text-center">
          <a href="/create/teams" class="btn btn-outline-light">Teams</a>
        </span>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="my-3 col-5">
          <h1 class="h1 my-3 text-light text-center">Team Information</h1>
          <div class="table-responsive">
            <table class="table table-light" data-th-object="${team}">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">Site Supervisor</th>
                  <th scope="col">REO</th>
                  <th scope="col">Driver</th>
                  <th scope="col">Worker</th>
                  <th scope="col">Tool</th>
                  <th scope="col">Machinery</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row" data-th-text="*{teamName}"></td>
                  <td data-th-text="*{siteSupervisor}"></td>
                  <td data-th-text="*{reo}"></td>
                  <td data-th-text="*{driver}"></td>
                  <td data-th-text="*{worker}"></td>
                  <td data-th-text="${hasTool} ? '1' : '0'"></td>
                  <td data-th-text="${hasMachinery} ? '1' : '0'"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row mx-5 mt-5 d-flex justify-content-around">
            <span class="col-2 text-center">
              <a href="/create" class="btn btn-outline-light" role="button" style="width: 6rem"
                >Create</a
              >
            </span>
            <span class="col-2 text-center">
              <a
                data-th-href="@{'/create/edit/' + ${team.teamName}}"
                class="btn btn-outline-warning"
                role="button"
                style="width: 6rem"
                >Edit</a
              >
            </span>
            <span class="col-2 text-center">
              <a
                data-th-href="@{'/create/delete/' + ${team.teamName}}"
                class="btn btn-outline-danger"
                role="button"
                style="width: 6rem">
                Delete
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
