<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workdone Info</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/bootstrap.css" />
  </head>
  <body class="">
    <div class="container-fluid context">
      <div class="row mx-5 mt-5 d-flex justify-content-around">
        <span class="col-2 text-center">
          <a href="/" class="btn btn-outline-light">Home</a>
        </span>
        <span class="col-2 text-center">
          <a href="/workdone/all" class="btn btn-outline-light">Show All</a>
        </span>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="my-3 col-4">
          <h1 class="h1 my-3 text-light text-center">Workdone Details</h1>
          <div class="table-responsive">
            <table class="table table-light" data-th-object="${workdone}">
              <thead>
                <tr>
                  <th scope="col">Workdone ID</th>
                  <th scope="col">Date of Work</th>
                  <th scope="col">Team</th>
                  <th scope="col">Type</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row" data-th-text="*{workdoneId}"></td>
                  <td data-th-text="*{team}"></td>
                  <td data-th-text="*{type}"></td>
                  <td data-th-text="*{quantity}"></td>
                  <td data-th-text="*{dateOfWork}"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row mx-5 mt-5 d-flex justify-content-around">
            <span class="col-2 text-center">
              <a href="/workdone" class="btn btn-outline-light" role="button">Create</a>
            </span>
            <span class="col-2 text-center">
              <a href="/workdone/delete" class="btn btn-outline-danger" role="button">Delete</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
